// login.js
.ant-btn-text{
    color: #0958d9 !important;
}

.ant-btn-text:hover{
    background-color: rgba($color: #fff, $alpha: 0) !important;
}

// model selection.js
.container-item{
    display: grid;
    grid-template-columns: 25px 120px 1fr ;
    grid-template-areas: 'a b c';
    grid-template-rows: 32px;
    margin-bottom: 20px;
    .label{
        justify-self: end;
        align-self: center;
        margin-right: 10px;
    }
    .ant-form-item{
        margin: 0;
    }
}

.container-radio{
    position: absolute;
    .ant-radio-group{
        display: inline-grid;
        grid-template-columns: 20px;
        grid-gap: 20px;
        grid-auto-rows: 32px;
    }
}

// -------------- Message.js ------------
.message-box{

    display: grid;
    justify-content: center;
    justify-items: center;
    gap: 20px;
    // grid-template-columns: 820px;
    .message-box-user {
        justify-self: end;
        font-size: 16px;
        line-height: 22px;
        max-width: 780px;
        min-width: 150px;
        min-height: 60px;
        padding: 10px 15px 15px 20px;
        border-radius: 12px 0px 0px 12px;
        border: 0.5px solid black;
        margin-left: 40px;
        // background-color: #0d1117;
        // color: #fff;
    }
    
    .message-box-ai {
        justify-self: start;
        font-size: 16px;
        line-height: 22px;
        max-width: 780px;
        min-width: 150px;
        min-height: 60px;
        padding: 10px 15px 15px 20px;
        border: 0.5px solid black;
        margin-right: 40px;
        border-radius: 0px 20px 20px 0px;
        // background-color: #0d1117;

        
    }

    .message-box-role{
        font-size: 18px;
        font-weight: 600;
        position: relative;
        margin-bottom: 20px;
        // color: #fff;
    
        &::after{
            position: absolute;
            content: '';
            height: 1px;
            border-left: 100px solid #000;
            top: 30px;
            left: 0px;
        }
    }

}


.file-card{
    border: 1px solid #fff;
    border-radius: 8px;
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
    "icon filename"
    "icon extension";
    padding: 5px 20px 5px 5px;
    .file-icon{
        grid-area: icon;
        font-size: 22px;
        align-self: center;
        padding: 8px;
        border-radius: 8px;
    }
    .file-name{
        grid-area: filename;
        align-self: end;
        font-size: 15px;
        font-weight: 600;
        margin-left: 10px;
    }
    .file-extension{
        grid-area: extension;
        align-self: center;
        font-size: 11px;
        font-weight: 600;
        margin-left: 10px;
        color: #999;
    }
}

// --------------- overwrite markdown.css ------------
.markdown-body{
    color: #000 !important;
    background-color: #fff !important;
}


// ----------------Tabs.js------------------------

.sider-tablist{
    .anticon-delete:hover{
        color: rgb(255, 77, 79);
    }
    div[role='tablist'] {
        .ant-tabs-nav-list {
            // 这是修改每个tab标签的
            .ant-tabs-tab {
                display: block;
                margin: 0px 0px 0px 10px !important;
                background-color: #fff;
                width: 180px;
                border: none;
                border-radius: 8px;
                position: relative;
                //  隐藏tab标签后的关闭按钮
                .ant-tabs-tab-remove{
                    display: none;
                }
            }
            .ant-tabs-tab-active{
                transition: all 1s;
                margin-left: 15px !important;
                border-radius: 8px 0 0 8px !important;
                border-top: 1px solid black !important;
                border-bottom: 1px solid black !important;
                border-left: 1px solid black !important;
                width: 185px !important;
            }
            .ant-tabs-tab-btn{
                color: black !important;
            }
        }
    }
    .ant-tabs-content-holder {
        display: none;
    }
}

// ----------------- SubmitArea.js ----------------
.submit-area{
    width: 100%;
    display: flex;
    // grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    textarea{
        width: 75%;
        min-width: 400px;
        line-height: 20px;
        font-size: 16px;
        padding: 15px 80px 15px 55px;
        border-radius: 10px;
        border: 1px solid #999;
    }
    .submit-btn{
        width: 35px;
        height: 35px;
        padding: 0 !important;
        border-radius: 10px;
        right: 42px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: #000;
    }
    .submit-area-film-management-btn{
        width: 35px;
        height: 35px;
        padding: 0 !important;
        border-radius: 10px;
        left: 162px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        // background-color: #000;
    }
}